################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyHomi
/MuHomi.PropertyManager.Domain.Model/bin/Debug/net8.0
/MuHomi.PropertyManager.Domain.Model/obj
/MuHomi.PropertyManager.Service/bin/Debug/net8.0
/MuHomi.PropertyManager.Service/obj
/MyHomi.API/bin/Debug/net8.0
/MyHomi.API/obj
/MYHomi.PropertyManager.DataAccess/bin/Debug/net8.0
/MYHomi.PropertyManager.DataAccess/obj
/MYHomi.PropertyManager.Utility/bin/Debug/net8.0
/MYHomi.PropertyManager.Utility/obj
/MYHomi.PropertyManager.ViewModel/bin/Debug/net8.0
/MYHomi.PropertyManager.ViewModel/obj
